<div class="container">
  <h1>Danh sách điện thoại
    <a [routerLink]="['/dienthoai-create']" class="btn btn-primary">Thêm Điện Thoại</a>
  </h1>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="Tìm điện thoại" placeholder="Tìm kiếm điện thoại" aria-label="Search" #text>
      <button class="btn btn-primary" (click)="searchDienThoaiByText(text.value)">Tìm kiếm</button>
  </form>
  <br>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="getDienThoaiList()">Tất cả</button>
    <button type="button" class="btn btn-secondary" (click)="getListDienThoaiByCarrier('samsung')">Samsung</button>
    <button type="button" class="btn btn-secondary" (click)="getListDienThoaiByCarrier('sony')">Sony</button>
    <button type="button" class="btn btn-secondary" (click)="getListDienThoaiByCarrier('lg')">LG</button>
    <button type="button" class="btn btn-secondary" (click)="getListDienThoaiByCarrier('apple')">Apple</button>
    <button type="button" class="btn btn-secondary" (click)="getListDienThoaiByCarrier('htc')">HTC</button>
    <button type="button" class="btn btn-secondary" (click)="getListDienThoaiByCarrier('xiaomi')">Xiaomi</button>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Tên Sản Phẩm</th>
        <th>Hãng</th>
        <th>Giá</th>
        <th>thiết kế</th>
        <th>Chi tiết</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dienthoai of dienthoai">
        <td>{{ dienthoai.ten }}</td>
        <td>{{ dienthoai.hang }}</td>
        <td>{{ dienthoai.gia }}</td>
        <td>{{ dienthoai.thietke }}</td>
        <td>
          <a [routerLink]="['/dienthoai-detail', dienthoai._id]">Chi tiết sản phẩm</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>